
* {
  box-sizing: border-box;
  font-size: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
}


body {
    background-color: yellow;
}


#root {
  margin: 0 auto;
}

.app-container {
  width: 1180px;
  height: 700px;
  margin: 0 auto;

}

header {
  width: 100%;
  height: 300px;
 text-align: center;
}

label, input {
  margin: 10px;
}

button {
  border-radius: 10px;
}

